In [1]:
def check_palindrome(word):
    return word

In [2]:
a = 'ajay'

In [6]:
a[::-1]

'yaja'

In [9]:
a = 'dad'

if a == a[::-1]:
    print(f'{a} is a palindrome')

else:
    print(f'{a} is not a palindrome')

dad is a palindrome

In [45]:
def check_palindrome(word:str):
    if type(word) == str:
        word = word.upper()
        if word == word[::-1]:
            return 'Palindrome'
        else:
            return 'Not a Palindrome'
    else:
        return 'invalid data type'

In [29]:
check_palindrome(['4554','2145'])

'invalid data type'

In [30]:
check_palindrome('123')

'Not a Palindrome'

In [33]:
def give_fibo(n):
    fibo = [0,1]
    for i in range(n-2):
        last_num = fibo[-1]
        second_last_num = fibo[-2]
        next_num = last_num + second_last_num
        fibo.append(next_num)
    return fibo

In [44]:
print (give_fibo(8))

[0, 1, 1, 2, 3, 5, 8, 13]

In [48]:
def check_prime(number):
    for i in range(2,number):
        if number % i == 0:
            return 'not a prime number'
            break
    else:
        return 'prime number'

In [54]:
check_prime(13)

'prime number'

In [91]:
n = 5
for i in range(1,n+1):
    print(i * '*')

*
**
***
****
*****

In [115]:
n = 5
for i in range(1,n+1):
    print(' '*(n-i) + i*'* ')

    *
   * *
  * * *
 * * * *
* * * * *

In [124]:
def print_star(n = 5, typ = 'left'):
    if typ == 'left':
        space = ''
    elif typ == 'mid':
        space = ' '
    elif typ == 'right':
        space = '  '
    for i in range(1,n+1):
        print(space*(n-i) + i*'* ')

In [128]:
print_star(5,'right')

        *
      * *
    * * *
  * * * *
* * * * *

In [133]:
def print_star(n = 5, typ = 'left', shape = '*'):
    if typ == 'left':
        space = ''
    elif typ == 'mid':
        space = ' '
    elif typ == 'right':
        space = '  '
    for i in range(1,n+1):
        print(space*(n-i) + i*f'{shape} ')

In [134]:
print_star(5,'left','&')

&
& &
& & &
& & & &
& & & & &

In [145]:
 def sum_of_n_natural_num(n):
     result = 0
     for i in range(1,n+1):
         result += i
     return result

In [147]:
sum_of_n_natural_num(420)

88410

In [153]:
def factorial(n):
     result = 1
     for i in range(1,n+1):
         result *= i
     return result

In [157]:
factorial(11)

39916800

In [163]:
def total_sales(*args):
    #unpacking
    result = 0 
    for i in args:
        result +=i
    return result

In [168]:
total_sales(15678,987654,2345,9876)

1015553

sales = [1232434978,9098,5944,4848,4738,6742,92480,4820,9724,2728,72479]

In [178]:
sales = [1232434978,9098,5944,4848,142,57,80886,9,56,4738,6742,92480,4820,9724,2728,72479]
min_element = sales[0]
for i in sales[1:]:
    if i < min_element:
        min_element = i
print(min_element)

9

In [201]:
def minn_num(sales):
    sales = [1232434978,9098,142,57,80886,9,56,4738,6742,92480,4820,9724,2728,72479]
    min_element = sales[0]
    for i in sales[1:]:
        if i < min_element:
            min_element = i
    print(min_element)

In [208]:
def max_element(*data):
    
    max_element = data[0]
    for i in data[1:]:
         if i > max_element:
            max_element = i
    return max_element

In [209]:
max_element(23,45678,9876543,234567,678987,909090909090)

909090909090

In [219]:

#company = ['ola', 'uber', 'microsoft', 'google', 'tata']

def add_hashtag(*company):
    result = []
    for i in company:
        result.append('#'+' @ '+i.upper())
    return result

In [220]:
add_hashtag('ola','google','adani')

['# @ OLA', '# @ GOOGLE', '# @ ADANI']

In [222]:
add_hashtag(*company)

['# @ OLA', '# @ UBER', '# @ MICROSOFT', '# @ GOOGLE', '# @ TATA']

In [256]:
def store_records(name,age,sec,roll_no,Class):
    data = {'Name' :name, 'Age' :age, 'Sec' :sec, 'Roll_No' :roll_no, 'Class' :Class}
    import pandas as pd
    result = pd.DataFrame(data, index = [1])
    return result

In [258]:
store_records('Akul',18,'A',23,12)

   Name  Age Sec  Roll_No  Class
1  Akul   18   A       23     12

In [266]:
def std_rec(**kwargs):
    import pandas as pd
    result = pd.DataFrame (kwargs, index = [])
    return result

In [2]:
std_rec(Name = 'Akul', Age = 20, Sec ='E2', Roll_no =358, Address = 'Delhi')

NameError: name 'std_rec' is not defined

In [24]:

#exception handling 

age = '23'
try:
    print(1/0)
    if age >= 18:
      print('can vote')
    else:
      print('can\'t vote')
except:
            print('something went wrong!!')
            print('invalid data type')

something went wrong!!
invalid data type

In [44]:
def student_record(**kwargs):
    import pandas as pd
    import numpy as np
    try: 
        data = pd.DataFrame(kwargs)
        data.index = np.arange(1, len(data) + 1)
        return data 
    except:
        data = pd.DataFrame(kwargs,index =[1])
        return data
        
        # try:
        #     pass
        # except:
        #     pass

In [45]:
student_record(Name = ['Ajay','Aman','Mohan'], 
               Age = [23,25,29], 
               Address = ['Noida','Gr Noida','Delhi'],
               Sec = list('ABC'))

    Name  Age   Address Sec
1   Ajay   23     Noida   A
2   Aman   25  Gr Noida   B
3  Mohan   29     Delhi   C

In [58]:
def show_time():
    try:
        while True:
            import time
            print(time.asctime())
            time.sleep(1)
            display(clear = True)
    except:
        print('Timer has been stopped')

In [59]:
show_time()

Fri Jul  4 10:39:12 2025
Timer has been stopped

In [4]:
import AKUL as a
print('done')

done

In [6]:
# import maths as m
# import random as r

In [2]:
import AKUL as a

This is Akul Module in Python
Info: https://www.google.com/

In [3]:
a.print_star(n=5)

*
* *
* * *
* * * *
* * * * *

In [5]:
a.check_palindrome('ram')

'Not a Palindrome'

In [6]:
a.check_prime(2345)

'not a prime number'

In [9]:
a.factorial(84)

3314240134565353266999387579130131288000666286242049487118846032383059131291716864129885722968716753156177920000000000000000000

In [12]:
a.give_fibo(16)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

In [26]:
a.student_record(Name = ['ABC','DEF','GHI'],
                 Age = [23,35,87],
                 Add = ['Delhi','Noida','Gr Noida'])

  Name  Age       Add
1  ABC   23     Delhi
2  DEF   35     Noida
3  GHI   87  Gr Noida

In [27]:
from AKUL import *
print('done')

done

In [29]:
student_record(name ='akul', age = 20)

   name  age
1  akul   20

In [31]:
sum_of_n_natural_num(23)

276

In [33]:
show_time()

Fri Jul  4 13:06:29 2025
Timer has been stopped

In [ ]:
import turtle
print('done')

In [5]:
import turtle
for i in range(120):
    turtle.speed(0)
    turtle.bgcolor('black')
    col = ['yellow','green','red','orange','blue']
    import random
    picked_color = random.choice(col)
    turtle.color(picked_color)
    turtle.circle(100)
    turtle.left(3)

In [1]:
# left(60)=hexanal
# left(120)=triangle

import turtle
for i in range(3):
    turtle.bgcolor('black')
    turtle.color('cyan')
    turtle.forward(100)
    turtle.left(60)

In [ ]:
# Types of File:-

In [1]:
#1:- Text File
#eg of text file =  .py, .csv, .html, .css, .tsv, .java, .c++, .json, .js

#2:- Binary File- jis file ko chalanee ke liye software ki zarorat pde woh binary file, like audio file which needs mp3 software 
# eg of binary file = .pdf, .mp3, .mp4, .jpeg, .xlsx, .zip, .dat, .tar

In [2]:
#handling:- read, write, copy, append, delete, open, close

In [3]:
# context manager

In [21]:
file = open('AKUL.py', mode ='r')
print(file.read(100))
file.close()

print('''This is Akul Module in Python
Info: https://www.google.com/''')


def check_palindrome(word

In [23]:
file = open('AKUL.py', mode ='r')
print(file.read(1))
file.close()

p

In [27]:
a = 'ajay'
b = 'ajay'
C = 'ajay'
print (id(a))
print (id(b))
print (id(b))

#python is a garbage collector.

1790373047600
1790373047600
1790373047600

In [30]:
f = open('AKUL.py', mode = 'r')

In [40]:
print(f.readline())

        if word == word[::-1]:

In [42]:
f.close()
print('done')

done

In [43]:
f = open('AKUL.py', mode = 'r')

In [47]:
for i in range(5):
    print(f.readline())

        fibo.append(next_num)

    return fibo



def check_prime(number):

    for i in range(2,number):

In [49]:
f.close()

In [52]:
f = open('AKUL.py', mode = 'r')
for i in range(10):
    if i == 7: #line no.8
        print(f.readline())
    else:
        f.readline()

        if word == word[::-1]:

In [55]:
f.close()

In [57]:
f = open('AKUL.py', mode = 'r')


data = f.readlines()

f.close()
print('done')

done

In [72]:
print(data)

["print('''This is Akul Module in Python\n", "Info: https://www.google.com/''')\n", '\n', '\n', 'def check_palindrome(word:str):\n', '    if type(word) == str:\n', '        word = word.upper()\n', '        if word == word[::-1]:\n', "            return 'Palindrome'\n", '        else:\n', "            return 'Not a Palindrome'\n", '    else:\n', "        return 'invalid data type'\n", '\n', 'def give_fibo(n):\n', '    fibo = [0,1]\n', '    for i in range(n-2):\n', '        last_num = fibo[-1]\n', '        second_last_num = fibo[-2]\n', '        next_num = last_num + second_last_num\n', '        fibo.append(next_num)\n', '    return fibo\n', '\n', 'def check_prime(number):\n', '    for i in range(2,number):\n', '        if number % i == 0:\n', "            return 'not a prime number'\n", '            break\n', '    else:\n', "        return 'prime number'\n", '\n', '\n', '\n', '\n', "def print_star(n = 5, typ = 'left', shape = '*'):\n", "    if typ == 'left':\n", "        space = ''\n", "    elif typ == 'mid':\n", "        space = ' '\n", "    elif typ == 'right':\n", "        space = '  '\n", '    for i in range(1,n+1):\n', "        print(space*(n-i) + i*f'{shape} ')\n", '\n', '\n', 'def sum_of_n_natural_num(n):\n', '     result = 0\n', '     for i in range(1,n+1):\n', '         result += i\n', '     return result\n', '\n', '\n', 'def factorial(n):\n', '     result = 1\n', '     for i in range(1,n+1):\n', '         result *= i\n', '     return result \n', '    \n', '\n', 'def total_sales(*args):\n', '    #unpacking\n', '    result = 0 \n', '    for i in args:\n', '        result +=i\n', '    return result \n', '    \n', '\n', 'def minn_num(sales):\n', '    sales = [1232434978,9098,142,57,80886,9,56,4738,6742,92480,4820,9724,2728,72479]\n', '    min_element = sales[0]\n', '    for i in sales[1:]:\n', '        if i < min_element:\n', '            min_element = i\n', '    print(min_element)\n', '    \n', '\n', 'def max_element(*data):\n', '    \n', '    max_element = data[0]\n', '    for i in data[1:]:\n', '         if i > max_element:\n', '            max_element = i\n', '    return max_element\n', '\n', '\n', '\n', '\n', '\n', 'def student_record(**kwargs):\n', '    import pandas as pd\n', '    import numpy as np\n', '    try: \n', '        data = pd.DataFrame(kwargs)\n', '        data.index = np.arange(1, len(data) + 1)\n', '        return data \n', '    except:\n', '        data = pd.DataFrame(kwargs,index =[1])\n', '        return data\n', '\n', '\n', '        \n', '\n', 'def show_time():\n', '    try:\n', '        while True:\n', '            import time\n', '            print(time.asctime())\n', '            time.sleep(1)\n', '            display(clear = True)\n', '    except:\n', "        print('Timer has been stopped')\n", '\n']

In [61]:
data[7]

'        if word == word[::-1]:\n'

In [63]:
data[10]

"            return 'Not a Palindrome'\n"

In [65]:
print(data[10])

            return 'Not a Palindrome'

In [67]:
print(data[10:28])

["            return 'Not a Palindrome'\n", '    else:\n', "        return 'invalid data type'\n", '\n', 'def give_fibo(n):\n', '    fibo = [0,1]\n', '    for i in range(n-2):\n', '        last_num = fibo[-1]\n', '        second_last_num = fibo[-2]\n', '        next_num = last_num + second_last_num\n', '        fibo.append(next_num)\n', '    return fibo\n', '\n', 'def check_prime(number):\n', '    for i in range(2,number):\n', '        if number % i == 0:\n', "            return 'not a prime number'\n", '            break\n']

In [69]:
for i in data[10:31]:
    print(i)

            return 'Not a Palindrome'

    else:

        return 'invalid data type'



def give_fibo(n):

    fibo = [0,1]

    for i in range(n-2):

        last_num = fibo[-1]

        second_last_num = fibo[-2]

        next_num = last_num + second_last_num

        fibo.append(next_num)

    return fibo



def check_prime(number):

    for i in range(2,number):

        if number % i == 0:

            return 'not a prime number'

            break

    else:

        return 'prime number'

In [71]:
for i in data[0:16]:
    print(i)

print('''This is Akul Module in Python

Info: https://www.google.com/''')





def check_palindrome(word:str):

    if type(word) == str:

        word = word.upper()

        if word == word[::-1]:

            return 'Palindrome'

        else:

            return 'Not a Palindrome'

    else:

        return 'invalid data type'



def give_fibo(n):

    fibo = [0,1]