In [3]:
# Python to MySQL connect

In [5]:
# pip install PyMySQL

Collecting PyMySQLNote: you may need to restart the kernel to use updated packages.

  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.1.1

In [7]:
import pymysql as py
print('done')

done

In [17]:
conn = py.connect(user = 'root', 
           password = 'AKULbhasin1685@',
           host = 'localhost',
           autocommit = True)
print('Connection Created Successsfully')
print('done')

Connection Created Successsfully
done

In [19]:
cur = conn.cursor()
print('done')

done

In [20]:
#create database using pyhton

In [ ]:
query = '''create database IITM_day5;'''


cur.execute(query)
print('done')

In [30]:
query ='''USE IITM_day5;'''
cur.execute(query)
print('done')

done

In [31]:
query = '''create table student_details
(
SID int not null, 
student_name varchar(50),
course varchar(50),
Address varchar(50),
Scholarship float
);'''

cur.execute(query)
print('done')

done

In [33]:
query = '''insert into student_details
values
(101,"Mohan Sharma", "BCA", "Delhi Janakpuri", 5000),
(105,"Ravi Verma", "MCA", "South Delhi", 5500);
'''

cur.execute(query)
print('done')

done

In [36]:
sid = int(input('Enter Roll No/SID'))
name = input('Enter your Name: ')
course = input('Enter your Course: ')
address = input('Enter your Address: ')
scholarship = float(input('Enter your Scholarship in RS: '))

q = f'''insert into student_details values
({sid},"{name}","{course}","{address}",{scholarship});'''

cur.execute(q)
print('done')

Enter Roll No/SID 024
Enter your Name:  Mohan
Enter your Course:  BBA
Enter your Address:  Gr Noida
Enter your Scholarship in RS:  8000

done

In [ ]:
query = '''select * from student_details;'''


cur.execute(query)
records = cur.fetchall()

all_columns = []
for i in cur.description:
    all_columns.append(i[0])


import pandas as pd
pd.DataFrame(records, columns = all_columns)

In [ ]:
def show_records(db,table):
    query = f'''select * from {db}.{table};'''
    cur.execute(query)
    
    records = cur.fetchall()
    
    all_columns = []
    for i in cur.description:
        all_columns.append(i[0])
    
    
    import pandas as pd
    df = pd.DataFrame(records, columns = all_columns)
    return df

In [ ]:
show_records('iitm_day5','student_details')