In [9]:
# Q1) List is mutable(changes can be made), and Tuple is immutable(changes cannot be made).
l1 = [1,2,3]
l1[0]=5
l1

[5, 2, 3]

In [16]:
# Q2) Input() function help to take input from user, it return str(string) data type, to convert it, we will change it's data type.
a = input('enter value: ')
print(type(a))
b = int(input('enter value: '))
print(type(b))

enter value:  abc

<class 'str'>

enter value:  5

<class 'int'>

In [22]:
# Q3) Datatype to store value in the form of keys and values.
dic = {'Name':'akul', 'Age': 21}
print(type(dic))

<class 'dict'>

In [24]:
#Q4) for loop wokrs in a range, and till the condition is true.
for i in range (1,6):
    print(i)

1
2
3
4
5

In [25]:
# #Q5) To handle the errors which disturbs the flow of code.
#         try:-
#             to check if there is an error

#         except:-
#             it runs if there is an error in try block

#         finally:-
#             it will run if there is an error or not    


try:
    100/0
except:
    print('it is divisible')
finally:
    print('hello')

it is divisible
hello

In [28]:
#Q6) module:- combination of same class, methods, functions.

In [27]:
#Q7)

In [29]:
#Q8)

In [32]:
#Q9)
calculated_area = int(input('Enter radius: '))
aa = 22/7 * (calculated_area)*2
Area = aa
print(Area)

Enter radius:  5

31.428571428571427

In [46]:
#Q10)

a = input('Name: ')
b = int(input('Age: '))
print(f'hello {a}, you are {b} years old!!')

Name:  Akul
Age:  20

hello Akul, you are 20 years old!!

In [79]:
#Q11)
Fruits = ['apple','kiwi','cherry','mango','banana']
for i in enumerate (Fruits,1):
    print(i)

(1, 'apple')
(2, 'kiwi')
(3, 'cherry')
(4, 'mango')
(5, 'banana')

In [74]:
#Q12)

def grade_calculator(score):
    if (100>=score>=90):
        print('A')
    elif (89>=score>=80):
        print('B')
    elif (79>=score>=70):
        print('C')
    elif (69>=score>=60):
        print('D')
    elif(60>score):
        print('F')

In [75]:
grade_calculator(95)

A

In [76]:
grade_calculator(66)

D

In [77]:
grade_calculator(33)

F

In [78]:
#Q13)

In [80]:
#Q14)

class Bank_Account:
    Name = 'Akul'
    Balance = 50000
    def

SyntaxError: invalid syntax (804506648.py, line 6)

In [ ]:
#Q15)